@import "variables";

.navbar.navbar-dark {
  text-transform: uppercase;
  margin-bottom: 0px;
  padding: 30px 0;
  background-color: $main-color!important;
  border-color: $main-color;

  .navbar-brand {
    color: white;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .navbar-toggler {
    border-color: transparent;

    &:focus {
      outline: none;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: white;

        &:hover {
          color: #222222;
        }
      }
    }
  }
}