.footer-block {
  background-color: #2f2f2f;
  padding-top: 40px;
  padding-bottom: 40px;

  p {
    color: white;
    margin-bottom: 5px;
  }

  h4 {
    color: white;
    text-transform: uppercase;
  }
}

.copyrights-block {
  background: #222222;
  padding: 20px 0;
  text-align: center;

  p {
    margin-bottom: 5px;
    color: #fff;
  }

  a {
    color: #1abc9c;
  }

  .credits {
    color: #999;
  }
}